// 颜色
$colors: (
  "primary": #db9e3f,
  "info-1": #4394e4,
  "info": #4b67af,
  "white": #ffffff,
  "light": #f9f9f9,
  "grey-1": #999999,
  "grey": #666666,
  "dark-1": #5f5f5f,
  "dark": #222222,
  "black-1": #171823,
  "black": #000000,
);

// 修饰器高度
$dv-dec-height: 20px;

// 字体大小
$sm-font-size: 13px;
$base-font-size: 16px;
$md-font-size: 18px;
$lg-font-size: 24px;
$title-font-size: 30px;

// 主题色
$theme-color: #020308;
$theme-sub-color: #0f1325;

// 各模块宽高
$box-width1: 300px;
$box-height1: 410px;

$box-width2: 300px;
$box-height2: 410px;

$box-width3: 720px;
$box-height3: 410px;

$box-width4: 300px;
$box-height4: 410px;

$box-width5: 300px;
$box-height5: 410px;

$box-height6: 460px;

$box-height7: 460px;

$chart-header-height: 40px;